* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .menu{
    margin: 10px;
    background-color: chocolate;
    border-radius: 0 0 35px 35px;
    color: white;
    text-align:center;
}

.quadro {
    width: 25%;
    vertical-align: top;
    background-color: aliceblue;
    margin: 2.4%;
}
.texto{
    column-width: auto;
    vertical-align:top ;
    margin: 0 -25% 0 auto;
    display: flex;
}
.imagem{
    margin: 10px;
    padding: 10px;
    display:inline-flex;
}
p{
    border:3px solid black;
}
#tudo{
    display: flex;
} */
#grafico{
    display: flex;
    align-items:baseline;
}
.retangulo1{
    width: 60px;
    height: 20px;
    background-color: orangered;
    margin: 20px;
}
.retangulo2{
    width: 60px;
    height:  40px;
    background-color: orangered;
    margin: 20px;
}
.retangulo3{
    
    width: 60px;
    height:  60px;
    background-color: orangered;
    margin: 20px;
}
.retangulo4{
    width: 60px;
    height:  80px;
    background-color: orangered;
    margin: 20px;
}
.retangulo5{
    width: 60px;
    height:  100px;
    background-color: orangered;
    margin: 20px;
}
.retangulo6{
    width: 60px;
    height:  120px;
    background-color: orangered;
    margin: 20px;
}